<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/style/css/common/header.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>스터디 상세보기</title>
  <style>
    .divider--thick {
      width: 95vw;
      height: 6px;
      background-color: lightgray;
      border-radius: 20px;
    }

    .divider--thin {
      width: 95vw;
      height: 1.5px;
      background-color: lightgray;
    }

    .list--leader {
      display: none;
    }
  </style>
</head>

<body>
  <header class="header">
    <img src="/static/images/Do-IT logo.png" alt="Do-IT logo" class="header__logo" />
    <div class="header__button">
      <button class="header__button--practice">연습하기</button>
      <button class="header__button--study">스터디</button>
      <button class="header__button--sign-in">로그인</button>
    </div>
  </header>

  <h4><%= data.title %></h4>
  <div class="divider--thick"></div>
  <br />
  <div class="container__button"></div>
  <br />
  <div>모집현황 <span><%= data.memCurr%>/<%= data.memTotal %></span>
  </div>
  <% data.Themes.forEach(theme => { %>
  <span><%= theme.dataValues.category %></span>
  <% }); %>
  <div><%= startDate %> ~ <%= endDate %></div>
  <div><%= data.intro %></div>
  <div class="divider--thin"></div>
  <br />
  <ul class="container__list">
    <% members.forEach((member) => { %>
    <li class="container__list--member">
      <h2><%= member.status %></h2>
      <p>Nickname: <%= member.nickname %></p>
      <p>Link: <%= member.link %></p>
    </li>
    <% }); %>
  </ul>
  <div class="list--leader">
    <br />
    <div class="divider--thick"></div>
    <br>
    <ul class="container__list">
      <% appliers.forEach((applier) => { %>
      <li class="container__list--applier">
        <h2><%= applier.status %></h2>
        <p>Nickname: <%= applier.nickname %></p>
        <p>Link: <%= applier.link %></p>
        <button class="container__list--approve">수락</button>
        <button class="container__list--reject">거절</button>
      </li>
      <% }); %>
    </ul>
  </div>

</body>

<script>
  const studyId = "<%= data.id %>";
</script>

<script src="/static/script/study/studyDetail.js"></script>
<script src="/static/script/common/modal.js"></script>
<script src="/static/script/common/signIn.js"></script>
<script src="/static/script/common/signUp.js"></script>
<script src="/static/script/common/signOut.js"></script>
<script src="/static/script/common/studyList.js"></script>
<script src="/static/script/common/profile.js"></script>
<script src="/static/script/common/practice.js"></script>

</html>